#root {
  width: 1440px;
  margin: 0;
}

:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6C717B;
  --color-btn: #E44848;
  --color-btn-hover: #D84343;
  --color-rate: #FFC531;
  --color-light-gray: #DADDE1;
  --color-badge: #F2F4F7;
  --color-input: #F7F7F7;
  --color-white: #FFFFFF;
  --color-label: rgba(16, 24, 40, 0.6);

  --color-border: rgba(16, 24, 40, 0.2);
  --shadow-gray: rgba(0, 0, 0, 0.24);

  --trans: 0.3s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  max-width: 1440px;
  height: 100vh;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 48px !important;
  font-weight: 600;
  line-height: 0.67;
  margin: 0 !important;
  color: var(--color-input);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin: 0 !important;
  color: var(--color-main);
  /* color: var(--color-input); HomePage */
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 !important;
  color: var(--color-main);
}

p {
  color: var(--color-text);
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  transform: scale(1.03);
}

button {
  border-radius: 200px;
  border: none;
  background-color: var(--color-btn);
  color: var(--color-white);

  font-weight: 500;
  letter-spacing: -0.08px;

  display: flex;
  max-width: 173px;
  padding: 16px 42px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus,
  &:focus-visible,
  &:hover {
    background-color: var(--color-btn-hover);
    transform: scale(1.02);
    transition: border-color 0.25s;
  }
}